<nav class="navbar navbar-dark bg-dark">
<form id="create-form" class="form-inline">
        {{!-- <label for="newburger">hey you, add a burger to chomp</label> --}}
            <input type="text" id="newburger" name="name" placeholder="yummy burger">
            <button id="addburger" type="submit">Add Burger</button>
</form>
</nav>

<div class="container clearfix">
<div class="row text-left">
    <div class="col-md-4">
    <h1>Burger Chomp!</h1>
    <p>it's a to-eat list of burgers</p>



<div class="form-group">
    {{!-- <label for="chomped">Chomp Time?</label><br>
    <input type="radio" name="chomped" value="1" checked>Chomp!<br>
    <input type="radio" name="chomped" value="0">No Chomp. --}}
</div>


<h2>Burgers To Be Chomped</h2>

<ul>
    {{#each burgers}}
    {{#unless chomped}}
    <li>
        {{burger_name}} <button class="btn-chomp" data-id={{id}}>«Chomp it!</button>
    </li>
    {{/unless}}
    {{/each}}
</ul>



<h2>Chomped Burgers</h2>

<ul>
    {{#each burgers}}
    {{#if chomped}}
    <li>
        {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>
</div>
<div class="col-md-8"></div>
</div>
</div>
