<h1>Burger Chomp!</h1>

<h2>Burgers To Be Chomped</h2>

<ul>
    {{#each burgers}}
    {{#unless chomped}}
    <li>
        {{burger_name}} <button class="btn-chomp" data-id={{id}}>Chomp it!</button>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Chomped Burgers</h2>

<ul>
    {{#each burgers}}
    {{#if chomped}}
    <li>
        {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger to Chomp</h2>

<form id="create-form" class="form-inline">
        <label for="newburger">Burger Name</label>
            <input type="text" id="newburger" name="name" placeholder="Add your burger here">



<div class="form-group">
    <label for="chomped">Chomp Time?</label><br>
    <input type="radio" name="chomped" value="1" checked>Chomp!<br>
    <input type="radio" name="chomped" value="0">No Chomp.
</div>

<button id="addburger" type="submit">Add Burger</button>
</form>